@page
@using Web.Repositories
@model Web.Pages.CreateFurnitureModel
@inject Web.Repositories.FurnitureRepository furnitureRepository


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Furniture Page</title>
    
    <!-- Link to Stylesheet -->
    <link rel="stylesheet" href="CreateFurniture.cshtml.css">
</head>
<body>

    <h1>CREATE FURNITURE</h1>

    <label for="FurnitureName">Furniture Name: </label>
    <input type="text" id="furnitureName" name="furnitureName" class="Input-text" placeholder="Furniture Name">
    <p></p>

    <label for="OrderlinePrice">Base Price: </label>
    <input type="number" id="price" name="price" class="Input-text" placeholder="Price" min="0">
    <p></p>

    <label for="TreeMaterial">Tree Material: </label>
    <input type="text" id="treeMaterial" name="treeMaterial" class="Input-text" placeholder="Tree Material">
    <p></p>

    <label for="colorSelect">Color:</label>

    <select id="color" name="color">
        <option value="">Please Select</option>
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Black">Black</option>
        <option value="Brown">Brown</option>
        <option value="Silver">Silver</option>
        <option value="Gold">Gold</option>
    </select>
    <p></p>
    <button type="button" class="button" onclick="createNewFurniture()">Create New Furniture</button>


    <div id="insertMessage" style="margin-top: 10px;"></div>

    <script>
        function createNewFurniture() {
            var furnitureName = document.getElementById("furnitureName").value;
            var basePrice = document.getElementById("price").value;
            var treeMaterial = document.getElementById("treeMaterial").value;
            var color = document.getElementById("color").value;
            var furnitureType = 'T';

            $.ajax({
                type: "POST",
                url: "https://localhost:7012/api/Furniture/Insert",
                data: JSON.stringify({
                    name: furnitureName,
                    basePrice: parseFloat(basePrice),
                    treeMaterial: treeMaterial,
                    furnitureType: furnitureType,
                    color: color
                }),
                contentType: "application/json",
                success: function (result) {
                    console.log("Furniture inserted successfully. SKU: " + result);

                    // Clear input fields
                    document.getElementById("furnitureName").value = "";
                    document.getElementById("price").value = "";
                    document.getElementById("treeMaterial").value = "";
                    document.getElementById("color").value = ""

                    document.getElementById("insertMessage").innerText = "The Furniture is successfully inserted.";
                },
                error: function (error) {
                    console.error("Error inserting furniture: ", error);

                }
            });
        }
    </script>



</body>
</html>
